<div>
  <button (click)="onTogglePen()" [appBtnActive]="isPenStateActive" color="accent"
          mat-raised-button>
    <mat-icon>draw</mat-icon>
    {{ 'Stylo' | uppercase }}
  </button>
</div>
<div>
  <mat-form-field appearance="fill">
    <mat-label>Couleur de trait</mat-label>
    <mat-select #colorSelect [(ngModel)]="activeColor" [disabled]="!isPenStateActive" id="color-select">
      <mat-option *ngFor="let colorOption of colorOptions"
                  [value]="colorOption">{{ colorOption.name | titlecase }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div>
  <button (click)="onOpenDialog(ShapeEnum.Rectangle)" [disabled]="isPenStateActive" color="primary"
          mat-raised-button>
    <mat-icon>crop_3_2</mat-icon>
    Rectangle
  </button>
</div>
<div>
  <button (click)="onOpenDialog(ShapeEnum.Circle)" [disabled]="isPenStateActive" color="primary"
          mat-raised-button>
    <mat-icon>radio_button_unchecked</mat-icon>
    Cercle
  </button>
</div>
<div>
  <button (click)="onOpenDialog(ShapeEnum.Line)" [disabled]="isPenStateActive" color="primary"
          mat-raised-button>
    <mat-icon>show_chart</mat-icon>
    Ligne
  </button>
</div>
<div>
  <button (click)="save()" [hideText]="savingStatus.processing" [mtBasicSpinner]="savingStatus.processing"
          color="accent"
          mat-raised-button>
    <mat-icon>save</mat-icon>
    Enregistrer
  </button>
</div>
<div>
  <button (click)="load()" [hideText]="isLoading" [mtBasicSpinner]="isLoading"
          color="accent" mat-raised-button>
    <mat-icon>open_in_browser</mat-icon>
    Ouvrir
  </button>
</div>
<div>
  <button (click)="reset()" color="warn" mat-raised-button>
    <mat-icon>autorenew</mat-icon>
    Réinitialiser
  </button>
</div>
