<div>
  <button (click)="onTogglePen()" [appBtnActive]="isPenStateActive" color="primary"
          mat-raised-button>{{ 'Stylo' | uppercase }}</button>
</div>
<div>
  <mat-form-field appearance="fill">
    <mat-label>Couleur de trait</mat-label>
    <mat-select #colorSelect [(ngModel)]="activeColor" [disabled]="!isPenStateActive" id="color-select">
      <mat-option *ngFor="let colorOption of colorOptions"
                  [value]="colorOption">{{ colorOption.name | titlecase }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div>
  <button (click)="onOpenDialog(ShapeEnum.Rectangle)" [disabled]="isPenStateActive" color="primary"
          mat-raised-button>{{ '+ Rectangle' }}</button>
</div>
<div>
  <button (click)="onOpenDialog(ShapeEnum.Circle)" [disabled]="isPenStateActive" color="primary"
          mat-raised-button>{{ '+ Cercle' }}</button>
</div>
<div>
  <button (click)="onOpenDialog(ShapeEnum.Line)" [disabled]="isPenStateActive" color="primary"
          mat-raised-button>{{ '+ Ligne' }}</button>
</div>
