<div [formGroup]="parentForm">
  <mat-form-field appearance="fill">
    <mat-label>Point A, position X</mat-label>
    <input formControlName="ptAposX" matInput required type="number"/>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Point A, position Y</mat-label>
    <input formControlName="ptAposY" matInput required type="number"/>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Point B, position X</mat-label>
    <input formControlName="ptBposX" matInput required type="number"/>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Point B, position Y</mat-label>
    <input formControlName="ptBposY" matInput required type="number"/>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Epaisseur</mat-label>
    <input formControlName="strokeWidth" matInput required type="number"/>
  </mat-form-field>
</div>
