<div [formGroup]="parentFormGroup">
  <mat-form-field appearance="fill">
    <mat-label>Départ, coord. X</mat-label>
    <input formControlName="coordAX" matInput required type="number"/>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Départ, coord. Y</mat-label>
    <input formControlName="coordAY" matInput required type="number"/>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Arrivée, coord. X</mat-label>
    <input formControlName="coordBX" matInput required type="number"/>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Arrivée, coord. Y</mat-label>
    <input formControlName="coordBY" matInput required type="number"/>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Epaisseur</mat-label>
    <input formControlName="strokeWidth" matInput required type="number"/>
  </mat-form-field>
</div>
