<h1 class="mat-title accent">{{ dialogTitle }}</h1>
<form (ngSubmit)="onSubmit()" [formGroup]="containerFormGroup">
  <mat-form-field appearance="fill">
    <mat-label>Couleur</mat-label>
    <mat-select formControlName="color">
      <mat-option *ngFor="let colorOption of colorOptions"
                  [value]="colorOption">{{ colorOption.name | titlecase }}</mat-option>
    </mat-select>
  </mat-form-field>

  <div [ngSwitch]="data.shape">
    <app-circle-form *ngSwitchCase="ShapeEnum.Circle" [parentFormGroup]="containerFormGroup"
                     [submitEvent$]="submitSubject$.asObservable()"></app-circle-form>
    <app-rectangle-form *ngSwitchCase="ShapeEnum.Rectangle" [parentFormGroup]="containerFormGroup"
                        [submitEvent$]="submitSubject$.asObservable()"></app-rectangle-form>
    <app-line-form *ngSwitchCase="ShapeEnum.Line" [parentFormGroup]="containerFormGroup"
                   [submitEvent$]="submitSubject$.asObservable()"></app-line-form>
  </div>

  <button [disabled]="!containerFormGroup.valid" color="primary" mat-raised-button
          type="submit">Ajouter
  </button>
  <button (click)="onCancel()" color="secondary"
          mat-raised-button type='button'>Annuler
  </button>
</form>
