<div [formGroup]="parentFormGroup">
  <mat-form-field appearance="fill">
    <mat-label>Marge gauche</mat-label>
    <input formControlName="left" matInput required type="number"/>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Marge supérieure</mat-label>
    <input formControlName="top" matInput required type="number"/>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Largeur</mat-label>
    <input formControlName="width" matInput required type="number"/>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Hauteur</mat-label>
    <input formControlName="height" matInput required type="number"/>
  </mat-form-field>
</div>
