<div [formGroup]="parentFormGroup">
  <mat-form-field appearance="fill">
    <mat-label>Marge gauche</mat-label>
    <input formControlName="left" matInput required type="number"/>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Marge supérieure</mat-label>
    <input formControlName="top" matInput required type="number"/>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Rayon</mat-label>
    <input formControlName="radius" matInput required type="number"/>
  </mat-form-field>
</div>

