/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

form.create-shape-dialog {
  display: flex;
  flex-direction: column;

  > * {
    margin: 1em 1em 0 1em;
  }
}
